*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.nav-link{
    color:#1105eff7;
    font-weight: 600;

}

.navbar-brand{
    color:rgb(246, 193, 225);
    font-size: 30px;
    font-weight: 800;

}

.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}

.carousel-caption h1{
    font-size: 70px;
    font-weight: 400;
    color: rgb(107, 8, 64);
}

.carousel-caption p{
    color:rgb(145, 92, 244);
    font-weight: 600;
}

.btn0{
    background-color: rgb(10, 161, 20);
    height: 45px;
    width: 150px;
    color: rgb(119, 231, 149);
    outline: none;
    border: none;

}

.btn0:hover{
    background-color: rgb(151, 215, 251);
    color:red;
    transition: 0.3s;

}

/* --------------------------------------------------------------------------------------- */

.sub{
    background-color: gray;
}

.sub input{
    height: 51px;
    width: 50%;
    color: black;
    outline: none;
    padding: 10px;

}

.btn1{
    height: 50px;
    width: 50px;
    color: rgb(183, 234, 87);
    background-color:rgb(255, 106, 0);
    outline: none;
    border: none;
    margin-left:-2px;
}

.btn1:hover{
    background-color: black;
    color: rgb(106, 183, 241);
    transition: 0.5s

}

.fas{
    font-size: 32px;

}

/* ----------------------------------------------------------------------------------------- */

.collection span{
    color: gold;
    font-size: 25px;
    font-weight: 800;
    padding-left: 5px;
}

.collection input{
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: yellowgreen;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 35%;
    left: 30%;
    opacity: 0;






}

.collection .card:hover input{
    opacity: 1;
    transition: 1s;

    }

.collection input:hover{
    background-color: gray;
    transition: 0.5s;
}
/* ------------------------------------------------------------------------------------------------- */
.parallex{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/load.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;


}

.parallex h1{
    font-size: 60px;
    font-weight: 700;


}

.parallex p{
    font-size:25px;


}

.btn2{
    height: 40px;
    width: 110px;
    background: transparent;
    border: 2px solid rgb(245, 153, 153);
    color: rgb(238, 181, 181);
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn2:hover{
    background-color: rgb(149, 204, 219);
    color: rgb(125, 146, 39);
    transition: 0.3s;
}

.btn3{
    height: 40px;
    width: 110px;
    background-color: white;
    outline: none;
    border: none;
    color: yellowgreen;
    border-radius: 5px;
}

.btn3:hover{
    background-color: gray;
    color: white;
    border: none;
    outline: none;
    transition: 0.3s;






}

/* --------------------------------------------------------------------------------------------------------------------- */

.article a{
    list-style: none;
    color: rgb(172, 130, 236);
    outline: none;
    height:45px;
    width:600px;


}

.article a:hover{
    color:yellowgreen;
    transition: 0.3s;
    
}

.article p{
    font-size: 25px;
    
}

.article span{
    color: yellowgreen;
    
}

.article small{
    font-size: 15px;

}
/* --------------------------------------------------------------------- */

.contact input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    color: grey;
    background-color: rgb(170, 218, 242);
    padding: 10px;
    -webkit-box-shadow: 0px 2px 21px -8px rgba(3, 5, 5, 0.75);
-moz-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);




}

.btn4{
    height: 45px;
    width: 160%;
    background-color: rgb(99, 229, 241);
    color: rgb(9, 9, 8);
    outline: none;
    border:none;
    cursor: pointer;
    display: inline-block;
    








}